/* :: => Font */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


/* :: All Transition */
* {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: #171717;
}

.lines-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}